<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container" style="max-width: 700px; margin-top: 50px">`
        <div class="mt-4 p-5 bg-secondary text-white rounded">
            <h2>Error</h2>
            <p>对不起，服务器出小差了!</p>
            <p>请求路径: <code th:text="${url}"></code></p>
            <p>异常详情: <code th:text="${exception}"></code></p>
        </div>

        <div th:utext="'&lt;!--'" th:remove="tag"></div>


        <div th:utext="'Failed Request URL: ' + ${url}"  th:remove="tag"></div>
        <div th:utext="'Exception message: ' + ${exception}"  th:remove="tag"></div>
        <ul>
            <li th:each="st : ${exception.stackTrace}"><span th:text="${st}"  th:remove="tag"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>