<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container" style="max-width: 700px; margin-top: 50px">
        <h2 class="text-center">注册表单</h2>
        <div class="card card-body">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="usernameId">用户名</label>
                    <input class="form-control" type="text" id="usernameId" name="username" placeholder="用户名" >
                </div>
                <div class="form-group">
                    <label for="passwordId">密码</label>
                    <input class="form-control"  type="password" id="passwordId" name="password" placeholder="密码">
                </div>
                <div class="form-group">
                    <label for="confirmPasswordId">确认密码</label>
                    <input class="form-control"  type="password" id="confirmPasswordId" name="confirmPassword" placeholder="密码">
                </div>
                <div class="form-group">
                    <label for="emailId">邮箱</label>
                    <input class="form-control"  type="text" id="emailId" name="email" placeholder="邮箱">
                </div>
                <div class="form-group">
                    <label for="phoneId">手机号</label>
                    <input class="form-control"  type="text" id="phoneId" name="phone" placeholder="手机号">
                </div>
                <p style="margin-top: 10px;" class="text-center">
                    <button type="submit" class="btn btn-primary">注  册</button>
                </p>
            </form>
        </div>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>