<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container">

        <h1 class="page-header">Books List</h1>
        <div class="alert alert-success alert-dismissible fade in" th:if="${message}">
<!--            <a href="#" class="close" data-dismiss="alert">&times;</a>-->
            <strong>恭喜!</strong>
            <span th:text="${message}">信息提交成功</span>
        </div>
        <p style="text-align: right"><a href="#" class="btn btn-primary" th:href="@{/books/input}">新增</a></p>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>说明</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <!--
            interStat:
                count: 计数，从1开始
                index: 索引，从0开始
                size: 列表总条数
                even/odd: 负数或奇数
                first/last: 第一条/最后一条
            -->
            <tbody>
                <tr th:each="book, interStat:${page.content}">
                    <td th:text="${book.id}">1</td>
                    <td ><a href="#" th:text="${book.name}" th:href="@{/book/{id}(id=${book.id})}">书名</a></td>
                    <td th:text="${book.author}">作者</td>
                    <td th:text="${book.description}">描述</td>
                    <td th:switch="${book.status}">
                        <span th:case="0" class="danger">想读</span>
                        <span th:case="1" class="success">在读</span>
                        <span th:case="2" class="success">已读</span>
                        <span th:case="*">状态</span>

                    </td>
                    <td>
                        <a href="#" th:href="@{/books/{id}/input(id=${book.id})}">更新</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" th:href="@{'/books?page=' + ${page.number-1}}" th:unless="${page.first}">上一页</a></li>
                <li class="page-item"><a class="page-link" href="#" th:href="@{'/books?page=' + ${page.number+1}}" th:unless="${page.last}">下一页</a></li>
            </ul>
        </nav>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>