<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书单详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body th:object="${book}">
    <div class="container">

        <div class="card text-white bg-secondary mb-3" style="margin-top: 58px">
            <div class="card-header"><h2>详情</h2></div>
            <div class="card-body">
                <p class="card-text"> <strong>书名: <span th:text="*{name}">我们仨</span></strong></p>
                <p class="card-text">  <strong>作者:  <span th:text="*{author}">杨绛</span></strong></p>
                <p class="card-text">  <strong>说明:  <span th:text="*{description}">我们仨</span></strong></p>
                <p class="card-text">
                    <strong>状态:  </strong>
                    <span th:switch="*{status}">
                        <span th:case="0">想读</span>
                        <span th:case="1">在读</span>
                        <span th:case="2">已读</span>
                    </span>
                </p>
            </div>

        </div>
        <div class="alert alert-success" th:unless="*{status == 0} ">
            <strong>不错</strong>, 你已经开始行动
        </div>
        <div class="alert alert-warning" th:if="*{status == 0}">
            <strong>加油</strong>, 你还没开始行动
        </div>


        <a href="javascript:history.go(-1)" class="btn btn-default">返回</a>

    </div>


    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>