<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增书单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
  <div class="container" style="max-width: 700px; margin-top: 50px;">

    <h2 class="page-header">新增书单</h2>
    <form action="#" th:action="@{/books}"  th:object="${book}" method="post">
      <input type="hidden" name="id" th:value="*{id}" />
      <div class="form-group">
        <label for="nameId">用户名</label>
        <input type="text" class="form-control" id="nameId" name="name"  th:field="*{name}">
      </div>
      <div class="form-group">
        <label for="authorId">作者</label>
        <input type="text" class="form-control" id="authorId" name="author"  th:field="*{author}">
      </div>
      <div class="form-group">
        <label for="descriptionId">描述</label>
        <input type="text" class="form-control" id="descriptionId" name="description"  th:field="*{description}">
      </div>
      <div class="form-group">
        <label for="statusId">状态</label>
        <select class="form-control" id="statusId" name="status">
          <option value="0" th:selected="(*{status} == '0')">想读</option>
          <option value="1" th:selected="(*{status} == '1')">在读</option>
          <option value="2" th:selected="(*{status} == '2')">已读</option>
        </select>
      </div>

      <p class="text-center" style="margin-top: 50px;">
        <button type="submit" class="btn btn-primary">提交</button>
      </p>
    </form>
  </div>

  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>